@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --white-color: hsl(0, 0%, 100%);
    --light-pink-color: hsl(275, 100%, 97%);
    --grayish-purple-color: hsl(292, 16%, 49%);
    --dark-purple-color: hsl(292, 42%, 14%);
    --outer-radius: 1.5em;
    --box-padding: 1em;
    --inner-radius: calc(var(--outer-radius)-var(--box-padding));
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
    background-color: var(--light-pink-color);
}

.container {
    width: 100%;
    position: relative;
}

.faq-container-banner {
    width: 100%;
    height: 40vh;
    background-image: url(./assets/images/background-pattern-desktop.svg);
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.faq-container {
    max-width: 36%;
    min-width: 400px;
    margin: 110px auto 10px;
    padding-bottom: 10px;
    background-color: var(--white-color);
    border-radius: 20px;
}

#star {
    align-self: center;
    margin-right: 12px;
}

.faq {
    background-color: transparent;
    border: 1px solid var(--white-color);
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px 30px;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
}

.faq-heading {
    padding-left: 30px;
    padding-top: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
}

.faq-heading h1 {
    font-weight: 700;
    font-size: 2.2rem;
}

.faq-title {
    margin: 0 35px 0 0;
    color: var(--dark-purple-color);
    font-weight: 600;
    font-size: 1rem;
}

.faq-text {
    display: none;
    margin: 10px 0 10px;
    color: var(--grayish-purple-color);
    font-size: 0.75rem;
    font-weight: 400;
}

.faq.active .faq-text {
    display: block;
}

.faq-toggle {
    background-color: transparent;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    padding: 0;
    position: absolute;
    top: -3px;
    right: 25px;
    width: 45px;
    height: 45px;
}

.faq-toggle .icon-minus {
    display: none;
}

.faq.active .faq-toggle .icon-minus {
    display: block;
}

.faq.active .faq-toggle .icon-plus {
    display: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

hr {
    border: none;
    border-top: 1px solid rgb(210, 210, 210, 0.3);
    padding: 1px;
    margin: 0 30px;
}

/***************************MEDIA QUERIES (PHONES)************************************************/
@media screen and (max-width: 375px) {
    .faq-container {
        max-width: 80%;
        min-width: 200px;
        margin: 110px auto 10px;
        padding-bottom: 10px;
        background-color: var(--white-color);
        border-radius: 20px;
    }

    .faq {
        background-color: transparent;
        border: 1px solid var(--white-color);
        border-radius: 10px;
        margin: 10px 0;
        padding: 10px 16px;
        position: relative;
        overflow: hidden;
        transition: 0.3s ease;
    }

    .faq-heading {
        padding-left: 30px;
        padding-top: 0;
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        align-items: center;
    }

    .faq-heading h1 {
        font-size: 2.4rem;
    }

    .faq-title {
        font-size: 1rem;
    }

    .faq-text {
        display: none;
        margin: 15px 0 15px;
        color: var(--grayish-purple-color);
        font-size: 0.75rem;
        font-weight: 400;
    }
    .faq-toggle {
        font-size: 0.75rem;

        top: 0px;
        right: 8px;
        width: 45px;
        height: 45px;
    }
}
